.header-container {
    background-color: #3f3f3f;
    color: #fff;
    padding: 1.5rem;

    & h1 {
        margin: 0 0 1rem 0;
    }

    & nav {

        display: flex;
        gap: 1rem;

        & a {
            text-decoration: none;
            color: #fff;

            &.is-active {
                color: rgb(255, 92, 92)
            }
        }
    
        & a:hover {
            //color: #ff5c5c;
            color: rgba(255, 92, 92, 0.7)
        }
    }
}